@charset "UTF-8";
.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .form__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 21rem; }

.section__roomschema {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%); }

.seats__generator {
  height: 15rem;
  max-height: 80%;
  max-width: 80%; }

.seat {
  margin-right: 10px;
  margin-top: 2px; }

.row {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%; }

.col {
  display: flex;
  flex-direction: row;
  width: 15rem;
  align-items: center;
  margin-bottom: 1rem; }

.section__summary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row; }
  .seats__generator {
    max-width: 80%;
    transform: translateX(25%); } }

@media screen and (min-width: 768px) {
  .section__roomschema {
    width: 700px;
    max-width: 90%; }
  .seats__generator {
    height: 20rem;
    transform: translateX(0%); }
  .row {
    margin-top: 14rem; } }

@media screen and (min-width: 1024px) {
  .section__roomschema {
    width: 1000px;
    max-width: 80%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif; }

a {
  text-decoration: none;
  display: block;
  color: #000; }

.form__input {
  font-size: 1.2rem;
  padding: 0.5rem; }

.form__label {
  font-size: 1.2rem;
  padding: 0.5rem; }

.margin-m {
  margin-top: 1rem; }

.btn--border {
  border: 1px solid #474747; }

.active, .recommended {
  background-color: #ff8a05; }

.defaultBackground {
  background-color: #fff; }

.reserved {
  background-color: #474747;
  box-shadow: none;
  transform: none; }

.form__input-number {
  margin-left: 3rem; }

.text--small {
  font-size: 0.9rem; }

.text--error {
  color: red; }

.form__seats__selector {
  width: 1.6rem !important;
  height: 1.6rem !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid #e5e5e5;
  box-shadow: none;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
  border-radius: 0.2rem; }
  .form__seats__selector:checked:after {
    content: '✔';
    color: #55c57a; }

.btn {
  border-radius: 0.2rem;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center; }
  .btn, .btn:link, .btn:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.2rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.2) scaleY(1.3);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--default {
    background-color: #55c57a;
    color: #fff; }
  .btn--size_xl {
    width: 100%; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: .2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--label {
    padding-left: 0.5rem;
    margin-right: auto; }

.btn--custom {
  border-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer; }

.btn--custom.reserved {
  border: 1px solid #474747; }

.btn--custom.active {
  border: 1px solid #ff8a05; }

.form__input {
  width: 4rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.2rem; }
  .form__input-number {
    width: 5rem; }

.popup {
  display: none; }

.popup-active {
  display: block; }

.hidden-info {
  height: 1rem;
  text-align: right; }

.list {
  list-style-type: none; }

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center; }

@media screen and (min-width: 440px) {
  .btn--custom {
    border-radius: 0.2rem;
    width: 1.2rem;
    height: 1.2rem; } }

@media screen and (min-width: 768px) {
  .btn--custom {
    border-radius: 0.2rem;
    width: 3rem;
    height: 3rem; }
  .btn--label {
    padding-left: 1.5rem;
    margin-right: auto; } }
